.todoItem {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
}

.todoItem div.deleteAndEditButton {
  display: grid;
  grid-template-columns: auto auto;
}

.todoItem > div h3 {
  min-width: 100%;
  font-size: 24px;
}
.todoItem input[type="text"],
.todoItem textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background: #fff;
  border: 2px solid #dee;
  border-radius: 6px;
  resize: none;
  margin-bottom: 10px;
}
.todoItem p {
  font-size: 16px;
  margin-top: 5px;
  word-wrap: break-word;
}
.todoItem button.edit {
  border: none;
  padding: 4px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  background: #198754;
}
.todoItem button:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem #19875440;
}
.todoItem button.delete {
  background: transparent;
  font-size: 25px;
  border: none;
  color: #e74c3c;
  cursor: pointer;
}
.todoItem .first_row input {
  transform: scale(1.5);
  background: #fff;
}

.doneTodo {
  text-decoration: line-through;
  color: #198754;
}
.todoItem #doneTodo {
  width: 25px;
  cursor: pointer;
}
.hideDeleteBtn {
  display: none;
}
.showDeleteBtn {
  display: block;
}
